.contato {
    padding: 50px 0;

    h2 {
        margin-bottom: 20px;
    }

    .contato-info {
        margin-bottom: 30px;
        p {
            margin-bottom: 10px;
        }

        .redes-sociais {
            span {
                font-size: 30px;
                margin-right: 10px;
                cursor: pointer;
            }
            a{
                margin-right: 30px;
                color: orangered;
            }
        }
    }

    .contato-form {
        background-color: #f0f0f0;
        padding: 40px;
        border-radius: 8px;
        -webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #73b1e7;
        box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #73b1e7;

        h2 {
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        button {
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}
