#formulario{
    padding: 40px 80px 0 80px;
    border-radius: 10px;    
    -webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #ff44008c;
    box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #ff44008c;

    input{
        width: 120%;
    }
}